@import "tailwindcss";

@keyframes gradientMove {
  0%,
  100% {
    background-position: left center;
  }
  50% {
    background-position: right center;
  }
}

.bg-animate {
  background-size: 200% 200%;
  animation: gradientMove 6s ease infinite;
}

/* Container posisi bullet */
.swiper-pagination .pill-bullet {
  display: inline-block;
  /*width: 28px;*/
  width: 8px;
  height: 8px;
  border-radius: 999px;
  background: white;
  opacity: 0.6;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4); /* glow biar kontras */
  margin: 0 5px;
  transition: all 0.35s ease;
  cursor: pointer;
}

/* ACTIVE BULLET */
.swiper-pagination .pill-bullet.swiper-pagination-bullet-active {
  width: 30px;
  background: #10b981 !important;
}

@keyframes floatWave {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-25px);
  }
}

@keyframes floatWaveSlow {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
}

.wave-float {
  animation: floatWave 6s ease-in-out infinite;
}

.wave-float-slow {
  animation: floatWaveSlow 8s ease-in-out infinite;
}


@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-gradient-animate {
  background: linear-gradient(
    270deg,
    #ecfdf5,
    #d1fae5,
    #a7f3d0,
    #dbeafe
  );
  background-size: 400% 400%;
  animation: gradientMove 12s ease infinite;
}

@keyframes blobFloat {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -40px) scale(1.05);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.95);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blobFloat 10s infinite ease-in-out;
}
.delay-2000 {
  animation-delay: 2s;
}
