@import "tailwindcss";

@keyframes gradientMove {
  0%,
  100% {
    background-position: left center;
  }
  50% {
    background-position: right center;
  }
}

.bg-animate {
  background-size: 200% 200%;
  animation: gradientMove 6s ease infinite;
}

/* Container posisi bullet */
.swiper-pagination .pill-bullet {
  display: inline-block;
  /*width: 28px;*/
  width: 8px;
  height: 8px;
  border-radius: 999px;
  background: white;
  opacity: 0.6;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4); /* glow biar kontras */
  margin: 0 5px;
  transition: all 0.35s ease;
  cursor: pointer;
}

/* ACTIVE BULLET */
.swiper-pagination .pill-bullet.swiper-pagination-bullet-active {
  width: 30px;
  background: #10b981 !important;
}

@keyframes floatWave {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-25px);
  }
}

@keyframes floatWaveSlow {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
}

.wave-float {
  animation: floatWave 6s ease-in-out infinite;
}

.wave-float-slow {
  animation: floatWaveSlow 8s ease-in-out infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-gradient-animate {
  background: linear-gradient(270deg, #ecfdf5, #d1fae5, #a7f3d0, #dbeafe);
  background-size: 400% 400%;
  animation: gradientMove 12s ease infinite;
}

@keyframes blobFloat {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -40px) scale(1.05);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.95);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blobFloat 10s infinite ease-in-out;
}
.delay-2000 {
  animation-delay: 2s;
}

@keyframes scaleUp {
  from {
    opacity: 0;
    transform: scale(0.85);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-scaleUp {
  animation: scaleUp 0.3s ease;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.typewriter-title {
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #10b981;
  width: 0;
  animation:
    typing 2.5s steps(30, end) forwards,
    blink 1s infinite;
}

.typewriter-desc {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 4s steps(90, end) forwards;
  animation-delay: 2.7s;
}

@keyframes bounce-clean {
  0%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.animate-bounce-clean {
  animation: bounce-clean 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
